/* esercizio 1  */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 3s;
}

.ex-1-square:hover {
    background-color: red;
}

/* esercizio 2 */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 5s;
}

.ex-2-square:active {
    width: 900px;
}

/* esercizio 3 */
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 3s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* esercizio 4 */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 3s;
}

.ex-4-square:hover {
    opacity: 0;
}

/* esercizio 5 */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 3s;
}

.ex-5-square:hover {
    width: 100px;
    height: 100px;
}

.ex-5-square:active {
    width: 10px;
    height: 10px;
}

/* esercizio 6, 7 e 8 */
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

/* n.6  */

.ex-6-img:hover {
    filter: grayscale(1);
}

/* n.7  */
.ex-7-img {
    transition: all 3s;
}

.ex-7-img:hover {
    filter: grayscale(1);
    filter: invert(2)
}

/* n.8 */
.ex-8-img {
    transition: all 3s;
}

.ex-8-img:hover {
    border-radius: 15px;
    filter: brightness(0.5);
    filter: sepia(0.80);
}

/* esercizio 9 */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 3s;
}

.ex-9-img:hover {
    border-radius: 15px;
    filter: contrast(2);
    filter: grayscale(0.6);
    transform: scale(1.5);
}

/* esercizio 10 */
.ex-10-icon {
    font-size: 60px;
    animation-name: rotazione;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rotazione {
    100% {
        transform: rotate(360deg);
    }
}

/* esercizio 11 */
.ex-11-icon {
    font-size: 60px;
    animation-name: rotazione2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes rotazione2 {
    50% {
        transform: rotate(270deg);
    }
}

/* esercizio 12 e 13 */
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #ffffff;
    width: 60px;
    height: 20px;
    animation-name: spostamento;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #ffffff;
    width: 60px;
    height: 20px;
    animation-name: spostamento2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes spostamento {
    25% {
        top: -10px;
        left: 90%;
    }

    50% {
        top: 60px;
        left: 90%;
    }

    75% {
        top: 60px;
        left: -20px;
    }

    90% {
        top: -10px;
        left: -20px;
    }

    100% {
        top: -10px;
        left: 10%;
    }
}


@keyframes spostamento2 {
    25% {
        right: 90%;
        bottom: -10px;
    }

    50% {
        right: 90%;
        bottom: 60px;
    }

    75% {
        right: -30%;
        bottom: 60px;
    }

    90% {
        right: -30%;
        bottom: -10px;
    }

    100% {
        bottom: -10px;
        right: 20%;
    }
}